<?xml version="1.0" encoding="UTF-8"?>  
<included>  
    <logger name="jdbc.sqltiming" level="DEBUG" />  
    <logger name="jdbc" level="WARN" />  
    <logger name="org.eclipse" level="WARN" />  
    <logger name="druid.sql.ResultSet" level="WARN" />  
    <logger name="druid.sql.Connection" level="WARN" />  
    <logger name="io.netty" level="WARN" />  
    <logger name="net.sf.ehcache" level="WARN" />  
</included>